@model FootballLeaguesSimulation.Models.Competition


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_CompetitionNavbar.cshtml";
    var details = Model.Groups.ToList();
}

<h1>Details</h1>

<div>
    <h4>Competition</h4>
    <hr />
    @foreach (var group in Model.Groups)
        if (group.Name != "Null")
        {
            {
                <table>
                    <tr class="text-center">
                        <td></td>
                        <td>Teams</td>
                        <td>Match Played</td>
                        <td>Wins</td>
                        <td>Loses</td>
                        <td>Draws</td>
                        <td>Goals For</td>
                        <td>Goals Againts</td>
                        <td>Goals Difference</td>
                        <td>Points</td>
                    </tr>

                    @foreach (var team in group.Teams)
                    {
                        @foreach (var standing in team.TeamStandings.OrderBy(c => c.Points))
                        {
                            <tr class="text-center">
                                <td></td>
                                <td>@standing.Team.Name</td>
                                <td>@standing.MatchPlayed</td>
                                <td>@standing.Wins</td>
                                <td>@standing.Loses</td>
                                <td>@standing.Draws</td>
                                <td>@standing.GoalsFor</td>
                                <td>@standing.GoalsAgaints</td>
                                <td>@standing.GoalsDifference</td>
                                <td>@standing.Points</td>
                            </tr>
                        }
                    }
                </table>
            }
        }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
