@model FootballLeaguesSimulation.Models.Match

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var homeImgSrc = Model.HomeTeam.Logo;
    var guestImgSrc = Model.GuestTeam.Logo;
    var shortDateFormat = Model.PlayedAt.ToString("D");
}
<h1>Details</h1>

<div>
    <h4>Match - @Html.DisplayFor(modelItem => modelItem.Competition.Name)</h4>
    <hr />
    <div class="container-fluid small">
        <div class="row justify-content-center w-100">@Html.DisplayFor(modelItem => modelItem.Group.Name)</div>
        <div class="row justify-content-center w-100" id="RoundName">@Html.DisplayFor(modelItem => modelItem.Round.Name)</div>
        <div class="row justify-content-center w-100" id="LegName">Leg @Html.DisplayFor(modelItem => modelItem.Leg)</div>
        <div class="row">
            <div class="col text-right">
                @Html.DisplayFor(modelItem => modelItem.HomeTeam.Name)
                <img style="height:100px; width:100px" src="@homeImgSrc" alt="@homeImgSrc" />
            </div>
            <div class="col text-center align-self-center">
                <div class="row">
                    <div class="col"> @Html.DisplayFor(modelItem => modelItem.Score1)</div>
                    <div class="col"> @Html.DisplayFor(modelItem => modelItem.Score2)</div>
                </div>
                <div id="ExtraTime" class="row">
                    <div id="CheckScoreET" class="col text-right">( @Html.DisplayFor(modelItem => modelItem.Score1ET)</div>
                    <div class="col text-left">@Html.DisplayFor(modelItem => modelItem.Score2ET) ET)</div>
                </div>
                <div id="Penalties" class="row ">
                    <div id="CheckScoreP" class="col text-right"> ( @Html.DisplayFor(modelItem => modelItem.Score1P)</div>
                    <div class="col text-left">@Html.DisplayFor(modelItem => modelItem.Score2P) P)</div>
                </div>
            </div>
            <div class="col">
                <img style="height:100px; width:100px" src="@guestImgSrc" alt="@guestImgSrc" />
                @Html.DisplayFor(modelItem => modelItem.GuestTeam.Name)
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            var extraTime = document.getElementById("ExtraTime");
            var penalties = document.getElementById("Penalties");
            var et = document.getElementById("CheckScoreET");
            var p = document.getElementById("CheckScoreP");
            console.log(et.innerText);
            if (et.innerText == "(" || p.innerText == "(") {
                extraTime.remove();
                penalties.remove();
            }
            if (document.getElementById("RoundName").innerText == "Finale" || document.getElementById("RoundName").innerText == "Groups") {
                document.getElementById("LegName").style.display = "none";
            }
        });
    </script>
}