@model FootballLeaguesSimulation.Models.Match

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score1ET)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score1ET)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score2ET)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score2ET)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score1P)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score1P)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score2P)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score2P)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Winner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Winner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
