@model IEnumerable<FootballLeaguesSimulation.Models.Match>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score1ET)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score2ET)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score1P)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score2P)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Round)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score1ET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score2ET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score1P)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score2P)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestTeam.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Round.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
