@model IEnumerable<FootballLeaguesSimulation.Models.Match>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="justify-content-center text-left">
    @foreach (var playedAt in Model.GroupBy(item => item.PlayedAt).OrderBy(d=>d.Key))
    {
        @Html.Encode(playedAt.Key.ToString("D")) 
        @foreach (var item in playedAt)
        {
            <div class="container-fluid small">
                <div class="row border-danger border m-2">
                    <div class="col">@Html.DisplayFor(modelItem => item.Group.Name)</div>
                    <div class="col">@Html.DisplayFor(modelItem => item.Round.Name)</div>
                    <div class="col text-right">
                        @Html.DisplayFor(modelItem => item.HomeTeam.Name)
                        <img style="height:40px; width:40px" src="@Url.Content(item.HomeTeam.Logo)" alt="@item.HomeTeam.Name" />
                    </div>
                    <div class="col align-self-center text-center" >
                        <div class="row">
                            <div class="col"> @Html.DisplayFor(modelItem => item.Score1)</div>
                            <div class="col"> @Html.DisplayFor(modelItem => item.Score2)</div>
                        </div>
                        @if(item.Score1ET != null || item.Score1P != null) { 
                            <div class="row">
                                <div class="col  text-right">( @Html.DisplayFor(modelItem => item.Score1ET)</div>
                                <div class="col  text-left">@Html.DisplayFor(modelItem => item.Score2ET) ET)</div>
                            </div>
                            <div class="row">
                                <div class="col text-right">( @Html.DisplayFor(modelItem => item.Score1P)</div>
                                <div class="col text-left">@Html.DisplayFor(modelItem => item.Score2P) P)</div>
                            </div>
                        }
                    </div>
                    <div class="col">
                        <img style="height:40px; width:40px" src="@Url.Content(item.GuestTeam.Logo)" alt="@item.GuestTeam.Name" />
                        @Html.DisplayFor(modelItem => item.GuestTeam.Name)
                    </div><div class="col text-right">
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </div>
                        <div>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
